---
import BaseLayout from '../layouts/BaseLayout.astro';

const name: string = 'あずにゃん';
const birth: string = '1998/02/10';
const hometown: string = '兵庫県';
const favoriteFood: string = 'オムライス';
const hobbyList: string[] = [
  '使ったことがないライブラリとかFWを試してみること',
  'ダラーっとアニメを観ること',
  '美容',
];
const currentInterest: string[] = [
  'バックエンドに興味があって、ExpressやNestJS使ってみたりしてます',
  'Railsもちょっと前まで勉強してたので、落ち着いたらまた再開したいです',
  'もう少し趣味の幅を増やしたい',
];

const pageTitle: string = 'プロフィール';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <div>
    <div>
      <p>名前： {name}</p>
      <p>生年月日： {birth}</p>
      <p>出身： {hometown}</p>
      <p>好きな食べ物： {favoriteFood}</p>
      <div>
        趣味：
        <ul>
          {hobbyList.map((hobby: string) => <li>{hobby}！</li>)}
        </ul>
      </div>
      <div>
        最近興味あること：
        <ul>
          {currentInterest.map((interest: string) => <li>{interest}</li>)}
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>
